<h1>商品 <%= @product.title %></h1>

<div data-controller="favorite"
     data-id="<%= @product.id %>"
     data-favorited="<%= current_user&.like?(@product) %>">
  <button data-action="click->favorite#like" data-favorite-target="likeBtn">
  收藏
  </button>

  <button data-action="click->favorite#unlike" data-favorite-target="unlikeBtn">
  取消收藏
  </button>
</div>

<hr>

<%= image_tag @product.cover.variant(resize_to_limit: [200, 200]) if @product.cover.attached? %>

<%= form_with(model: [@product, @comment], local: false, id: "comment_form") do |form| %>
  <%= form.text_area :content %>
  <%= form.submit "留言" %>
<% end %>

<ul class="comments">
  <%= render @comments %>
</ul>

<%#= render partial: "comments/comment", collection: @comments, as: :comment %>

